# fly.toml app configuration file generated for probable-tribble on 2026-02-08T10:48:54-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'probable-tribble'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024

[[statics]]
  guest_path = '/app/notes'
  url_prefix = '/notes'

[[statics]]
  guest_path = '/app'
  url_prefix = '/'
