# fly.toml app configuration file generated for probable-tribble on 2026-02-08T10:48:54-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#
app = "probable-tribble"
primary_region = "iad"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

