body {
    font-family: system-ui, sans-serif;
    line-height: 1.6;
    color: #222;
    align-items: center;
    justify-content: center;
}

#content {
    margin-left: 10vw;
    margin-right: 10vw;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

code, pre {
    font-family: "Fira Code", monospace;
    font-size: 0.95rem;
}

code {
    background: #e9ecef;
    border-radius: 4px;
    padding: 0 4px;
}


pre {
    background: #f6f8fa;
    padding: 12px;
    border-radius: 6px;
    overflow-x: auto;
}

.blank {
    background: #ddd;
    color: transparent;
    border-radius: 4px;
    padding: 0 4px;
    cursor: pointer;
    transition: 0.2s;
}

.blank code {
    background: transparent;
    padding: 0;
}

.blank.show {
    color: black;
    background: #f7f7f7;
}

.blank.show code {
    background: #e9ecef;
    padding: 0 4px;
}



button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.collapsible-header {
    cursor: pointer;
    background: #fff;
    color: inherit;
    font-weight: normal;
    padding: 10px;
    border-radius: 4px;
    margin-block-start: 0;
    margin-block-end: 0.5em;
    transition: background 0.2s, color 0.2s;
}

.collapsible-header.header-open {
    background: #eee;
}

.collapsible-header:hover {
    background: #000;
    color: #fff;
}

.note-content {
    border-left: 3px solid #ccc;
    margin-bottom: 20px;
}

.note-content img {
    display: block; 
    max-width: 100%;
    height: auto;   
    margin: 20px auto; 
    object-fit: contain; 
}

.note-content table {
    margin: 20px auto;      
    border-collapse: collapse;
    text-align: center;     
}

.note-content th,
.note-content td {
    border: 1px solid black;
}

.note-content th,
.note-content td {
    padding: 4px 6px;
}

.back-button {
    width: 1em;
    height: 1em;
    display: block;
}

.noteset-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
}

.noteset-header h1 {
    font-size: 2.4rem;
    margin: 0;
}

.noteset-breadcrumb {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4em;
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: #333;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.noteset-breadcrumb:hover {
    opacity: 1;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 80vw;
    height: 80vh;

}

.noteset-item {
    font-size: 1.2rem;
    padding: 8px 0;
    cursor: pointer;
    color: #333;
    transition: color 0.2s;
}

.noteset-item:hover {
    color: #e81abb; 
}

#presence-indicator {
    position: fixed;
    bottom: 20px;
    right: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;

    background: #ffffff;
    color: rgb(0, 0, 0);
    padding: 0px 12px;

    border-radius: 2rem;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    font-size: 0.9rem;
    
    z-index: 999;
}


#presence-indicator img {
    width: 0.5rem;
    height: 0.5rem;
}

#reveal-toggle {
    position: fixed;
    bottom: 20px; 
    right: 25px;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s;
}

#reveal-toggle:hover {
    opacity: 1;
}

#reveal-toggle img {
    width: 3rem;
    height: 3rem;
}


.collapsible-content {
    overflow: hidden;
    height: 0;
    padding-left: 1rem;
    transition: height 0.3s ease;
}

.img-size-small  { 
    width: 30%; 
    min-width: 100px;
}
.img-size-medium { 
    width: 65%; 
    min-width: 300px;
}
.img-size-large  { 
    width: 100%; 
}

li.empty-li::marker {
    color: transparent;
}

#noteset-description {
    margin-top: 0.5rem;
    margin-bottom: 2rem;

    color: #666;
    font-size: .5rem;
}

.table-wrapper {
    overflow-x: auto;
    width: 100%;
}

.left-align {
    text-align: left !important;
}

.hamburger {
  --size: 43px;

  display: inline-block;
  height: calc(var(--size) * 0.93);
  position: fixed;
  bottom: 85px;
  right: 66px;
  opacity: 0.8;
  transition: opacity 0.2s;
  margin-right: 0;

  &:hover {
    opacity: 1;
  }

  a.main-nav-toggle {
    display: block;
    width: var(--size);
    height: calc(var(--size) * 0.57);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 0;
      height: 0;
      border-bottom: calc(var(--size) * 0.14) solid #000;
      width: 80%;
      left: 0;
      right: 0;
      transition: all ease-out 0.3s;
      border-radius: 2px; 
    }

    &:after {
      top: 100%;
    }

    i {
      display: block;
      text-indent: 100%;
      overflow: hidden;
      white-space: nowrap;
      height: calc(var(--size) * 0.14);
      background-color: #000;
      width: 80%;
      position: absolute;
      top: 50%;
      transition: all ease-out 0.1s;
      border-radius: 2px; 
    }

    &.active-menu {
      &:after {
        transform: rotate(-45deg);
        transform-origin: center;
        top: 50%;
      }

      &:before {
        transform: rotate(45deg);
        transform-origin: center;
        top: 50%;
      }

      i {
        opacity: 0;
      }
    }
  }
}